.navbar-toggler {
/*     margin-left: 90% !important; */
  }

  .navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: end;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: right;
}

.bg-dark {
    text-align: end;
}

.strong-text{
  font-weight: 900;
  color: white;
}