.navbar-toggler {
/*     margin-left: 90% !important; */
  }

  .navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: end;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: right;
    background-color: rgb(99,84,158);
}

.extended-navbar {
    text-align: end;
    background-color: rgb(99,84,158);
}

.strong-text{
  font-weight: 900;
  color: white;
}

.links {
  display: block;
  text-decoration: none;
  transition: color 0.2s;
  color: white;
}

.links:hover {
  text-decoration: none;
  color: #4180cb;
}