@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

* {
  font-family: bilo, sans-serif;
  margin: 0;
  box-sizing: border-box;
}

.footer {    
  bottom: 0;
  left: 0;
  right: 0;  
}

.footer-container {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #63549e;
}

.footer-container h3 {
  margin-top: 5px;
  margin-bottom: 22px;
  color: #fff;
  font-weight: 520 !important;
}

.social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-left: 50%;
}

.social a:hover {
  transition: color 0.2s;
  color: #4180cb;
}

ul {
  list-style: none;
}

.links {
  display: block;
  text-decoration: none;
  transition: color 0.2s;
  color: #fff;
}

.links:hover {
  text-decoration: none;
  color: #4180cb;
}

.ltd {
  align-items: center;
  flex-direction: row;
  padding: 0.5% 12% 0.5% 18%;
  font-size: 0.9em;
  display: flex;
  color: rgba(0, 0, 0, 0.5) !important;
  background-color: rgba(231, 228, 248, 1);
}

.ltd p {
  margin-bottom: 0;
}

.pe {
  margin-bottom: 15px;
}

.centered {
  align-items: center;
}

.pe p {
  margin: 10px 0;
}

.social i {
  padding-right: 10px;
  color: rgba(29, 49, 120, 1);
}

/* h4 > .centered > p > a {
    padding: 50px 0;
} */

/* input::placeholder{
  color: #fff;
} */
